<h1>Recipes</h1>
<ul>
        <li>
            <a> Recipe 1 </a>
            <ul>
                    <li>3pcs of tomato </li>
                    <li>1pc of onion </li>
                    <li>1kg of pork </li>
                    <li>1L of water </li>
                    <li>1 packet of sinigang mix </li>
            </ul>
        </li>
</ul>
<ul>
        <li>

            <a> Recipe 2 </a>
            <ul>
                    <li>1 head of garlic</li>
                    <li>1pc of onion</li>
                    <li>1/2 cup of vinegar</li>
                    <li>1 cup of water</li>
                    <li>1 tablespoon of salt</li>
                    <li>1 tablespoon of whole black peppers</li>
                    <li>1 kilo of pork</li>
            </ul>
        </li>
</ul>

